
.cursive {
    font-family: "Cedarville Cursive", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    line-height: 1.6;
  }
  
.fira-code{
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .libre {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

body {
    font-family: "Inter", serif;
    font-size: 16px;
    line-height: 1.6;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1e1e23;
    background-color: #FDF8F5;
}
/* Modify grid */
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1000px;
    }
}

/* genric */
h1{
    font-size: 40px;
 }
.muted{
    color: #606060;
}
.muted-white{
    color: #c5c5c5;
}
.bold-text {
    font-weight: bold;
}
.medium-text {
    font-weight: 500;
}
.mt-100{
    margin-top: 100px;
}
.float-end{
    text-align: right;
}
h5{
    font-size: 18px;
}
h6, h5{
    line-height: 1.7;
}
.font-300{
    font-weight: 300;
}
 /* nav */
.navbar {
    padding: 20px;
    background-color: #FDF8F5;
}
.navbar-brand, .nav-link{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}
.navbar-brand img{
    margin-right: 5px;
}
.navbar-toggler {
    border:0
}
.nav-item{
    margin-left: 10px;
}
/* hero */
.hero {
    position: relative;
    z-index: 0;
    padding: 20vw 0 0;
}
.hero h1{
    font-size:5.5vw;
}
.hero-content .hero-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero p{
    max-width: 650px;
    line-height: 30px;
    margin-bottom: 0;
}
.desc{
    margin-top: 100px;
    margin-bottom: 100px;
}
.stats .meta{
    max-width: 70%;
}
.stats .text{
    font-weight: 500;
}
.stats hr{
    width: 40px;
    border-width: 2px;
}
.case-study {
    margin: 10px 0;
}
.case-studies {
    padding: 80px 0 60px;
    margin: 80px 0 10px;
}
.case-study-container{
    border-top: 2px solid;
    padding: 60px 0;
}
.case-study-container > .row{
    padding: 60px 0;
}
.case-block{
    padding: 40px;
}
.highlighter-2{
    font-weight: 600;
    color: #958103;
}
.side-note{
    padding: 40px 0;
}
a {
    text-decoration: none;
    color: #1e1e23;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}
a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #1e1e23;
    transition: width 0.3s ease;
}
.font-14{
    font-size: 14px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border-radius: 50px;
    padding: 8px 14px;
    background: #1e1e23;
    border-color: #1e1e23;
}
.btn-primary:hover{
    background-color: #000;
    box-shadow: 0 1px 8px rgba(0,0,0, 0.2);
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border-radius: 50px;
    padding: 8px 14px;
    color: #1e1e23;
    background: transparent;
    border-color: #1e1e23;
}
.btn-secondary:hover{
    background-color: #1e1e23;
    color: #fff;
}
.dark-theme a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}
.dark-theme a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #ffffff;
    transition: width 0.3s ease;
}
.nav-link:hover::after, .side-note a:hover::after, .dark-theme a:hover::after, .blog a:hover::after, .section-content a:hover::after{
    width: 100%;
}
.gradient-text{
    background: linear-gradient(180deg, #000000 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* work highlights */
.section{
    padding: 140px 0 80px;
}
.font-18{
    font-size: 18px;
}
.highlighter{
    position: relative;
    background-color: #F4FF9E;
}
.list{
    border-top: 2px solid #000;
}
.list p{
    margin: 0;
}
.list-item{
    margin: 40px 0;
    padding: 24px 0;
    border-bottom: 1px solid #d7d7d7;
}
.profile-pic img{
    max-width: 260px;
    border: 8px solid #fff;
    box-shadow: 0 2px 2px #0000005e;
    transform: rotate(-10deg) translateY(0px);
    padding: px 0 47px;
    background: #fff;
    border-radius: 50px;
	animation: float 6s ease-in-out infinite;
    margin-top: 40px;
}
.reverse-rotate img{
    transform: rotate(10deg) translateY(0px);
    animation: reverse-float 6s ease-in-out infinite;
    margin-top: 40px;
}
@keyframes reverse-float {
	0% {
		transform: rotate(10deg) translateY(0px);
	}
	50% {
		transform: rotate(10deg) translateY(-5px);
	}
	100% {
		transform: rotate(10deg) translateY(0px);
	}
}
@keyframes float {
	0% {
		transform: rotate(-10deg) translateY(0px);
	}
	50% {
		transform: rotate(-10deg) translateY(-5px);
	}
	100% {
		transform: rotate(-10deg) translateY(0px);
	}
}
.about > .row{
    padding: 40px 0;
}
.about h5{
    margin-bottom: 20px;
    color: #1e1e23;
}
/* case studies */

.footer{
    background-color: #1e1e23;
    padding: 80px 0;
}

.dark-theme{
    color: #fff;
}


/* Blog CSS */

/* Modify grid */
@media (min-width: 900px) {
    .blog .navbar .container, .blog-hero p,.blog-hero h1, .blog-hero h2, .blog-hero h3, .blog-hero h4, .blog-hero h5, .blog-hero h6,  .blog-content h1,.blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6, .blog-content ul, .blog-content p{
       max-width: 720px;
       margin-left: auto;
       margin-right: auto;
       padding-left:20px;
       padding-right:20px;
    }
}
@media (max-width: 576px) {
    .blog .navbar .container, .blog-hero p,.blog-hero h1, .blog-hero h2, .blog-hero h3, .blog-hero h4, .blog-hero h5, .blog-hero h6,  .blog-content h1,.blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6, .blog-content ul, .blog-content p{
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
     }
}
.blog-hero{
    margin: 150px auto 0;
    padding: 30px 0;
}

.blog-hero h1{
    font-size: 4vw;
    font-weight: 600;
}

.blog p:not(.footer p),.blog p:not(.block-quote){
    line-height: 1.9;
    font-size: 16px;
    margin-bottom: 30px;
}

.blog img{
    margin-top: 30px;
    margin-bottom: 32px;
    border-radius: 12px;
    width: 100%;
}
.blog-content{
    padding: 0 0 100px;
}
.blog h3, .blog h4, .blog h5{
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
}
.blog h3{
    font-size: 30px;
}
.blog h4{
    font-size: 22px;
}
.blog .h-meta{
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 30px;
}
.blog h5{
    font-size: 17px;
    margin-bottom: 30px;
    font-weight: 600;
}
figcaption{
    margin-top: -25px;
    margin-bottom: 30px;
    text-align: center;
    color: #606060;
}
.blog a {
    text-decoration: underline;
}

.footer a {
    text-decoration: none;
}
.blog a:not(.footer a) {
    text-decoration: underline;
}
.blog ul{
    padding: 0 38px 0;
    line-height: 2;
    margin-bottom: 30px;
}
.blog li{
    padding: 0 0 0 12px;
    margin-bottom: 4px;
}

.blog ul.navbar-nav, .blog ul.navbar-nav li, blog ul.navbar-nav li a{
    margin: 0;
    padding: 0;
}
.blog .block-quote{
    border-left: 3px solid;
    padding-left: 24px;
    font-size: 18px;
}

@media screen and (max-width: 760px) {
    .hero{
        padding: 40vh 0 0;
    }
    .hero h1{
        font-size: 10vw;
    }
    .stats .col-md-4{
        margin-bottom: 40px;
    }
    .case-studies {
        padding: 80px 16px 0;
        margin: 30px 0 0px;
    }
    .case-study-container > .row {
        padding: 30px 0;
    }
    .case-block {
        padding: 16px;
    }
    .profile-pic {
      margin-bottom: 100px;
    }
    .section {
        padding: 80px 20px 160px;
    }
    .blog-hero, .blog-content{
        padding: 30px 20px;
    }
    .blog-hero h1, .hero-h1{
        font-size: 11vw;
    }
    .footer{
        padding: 80px 20px;
    }
  }